:root {
  --primary-color: #9356DC;
  --secondary-color: #FF79DA;
  --tertiary-color: #99E2D0;
  --green: #008766;
  --light-blue: #89C8FA;
  --dark-blue: #003A68;
  --black: #101010;
  --grey: #353535;
  --light-grey: #eaeaea;
  --white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    color: var(--black);
}

.logo, .title  {
    font-family: "Shrikhand", serif;
    font-weight: 400;
    font-style: normal;
}

/* HEADER */
header {
    background-color: white;
    text-align: center;
    box-shadow: 0px 2px 4px 0px #00000026;

    .logo {
        font-size: 30px;
        background-color: white;
        box-shadow: 0px 2px 4px 0px #00000026;
    }

    .top-bar{
        z-index: 10;
        background-color: var(--light-grey);
        padding-bottom: 4px ;
    }

    form {
        width: 100%;
        background-color: var(--light-grey);
        padding-top: 12px;
        padding-bottom: 16px;
        box-shadow: 0px 4px 4px 0px #00000040;

        input[type="search"] {
            max-width: 190px;
            background-image: url('data:image/svg+xml;utf8,<svg fill="black" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="M8 0a5.53 5.53 0 0 0-5.5 5.5c0 3.04 5.5 10.5 5.5 10.5s5.5-7.46 5.5-10.5A5.53 5.53 0 0 0 8 0Zm0 7.5A2 2 0 1 1 8 3a2 2 0 0 1 0 4.5Z"/></svg>');
            background-repeat: no-repeat;
            background-size: 12px 16px;
            background-position: 10px center;

            padding-left: 36px; 
            font-size: 16px;
            font-weight: 500;

            border: none;
            background-color: var(---grey);
            outline: none;
            width: 100%;
            &::placeholder {
                color: var(--black);
                opacity: 1;
            }

            &::-webkit-search-cancel-button {
               display: none;
            }
        }

    }
}



/* FOOTER */
footer {
    background-color: #333;
    color: white;
    padding: 20px;

    .logo{
        font-size: 18px;
        margin-bottom: 12px;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            margin-bottom: 7px;
        a {
            text-decoration: none;
            color: inherit;
            display: flex;
            align-items: center;
            gap: 11px;

            svg {
            flex-shrink: 0;
            }
        }

        &:nth-child(1), &:nth-child(2) {
            font-weight: 500;
        }
        }
    }
}
